---
import Layout from "@layouts/Layout.astro";
import Section from "@components/widgets/Section.astro";
import AboutUs from "@components/home/AboutUs.svelte";
import TechnologiesSection from "@components/home/TechnologiesSection.astro";
import CareersSection from "@components/home/CareersSection.astro";
import { utilGetCurrentLangauge } from "@helpers/commonUtils";
import { Img, Picture } from "astro-imagetools/components";
import { t, changeLanguage } from "i18next";
import { getCollection } from "astro:content";

changeLanguage("zh");

// Get md files based on the current language
const { pathname } = Astro.url;
const currentLanguage = utilGetCurrentLangauge(pathname);
const services = await getCollection(`services`, (service) => service.id.startsWith(`${currentLanguage}/`));
const aboutList = await getCollection(`about`, (about) => about.id.startsWith(`${currentLanguage}/`));
// Render About MD Contents
const about1 = await aboutList
    .find((about) => about.slug.endsWith("about-1"))!
    .render();
const about2 = await aboutList
    .find((about) => about.slug.endsWith("about-2"))!
    .render();
const about3 = await aboutList
    .find((about) => about.slug.endsWith("about-3"))!
    .render();
---

<Layout title="ChatChatABC">
  <h1 class="sr-only">ChatChatABC Landing Page</h1>

  <!-- Hero Section -->
  <section class="md:py-4 lg:p-8">
    <h2 class="sr-only">Hero Section</h2>
    <div class="container mx-auto relative overflow-hidden">
      <!-- Background image -->
      <div
        class="absolute -z-10 left-0 top-0 w-full h-full overflow-hidden lg:rounded-xl"
      >
        <Img src="/images/hero-bg.png" alt="background" />
      </div>

      <!-- Cards -->
      <div class="relative flex">
        <div
          class="ml-auto capitalize relative col-span-4 flex flex-col gap-8 justify-center items-center py-12 px-8 font-medium w-full lg:w-[unset] lg:mr-[10%]"
        >
          <!-- Top -->
          <div class="flex space-x-8 justify-center w-full -z-10">
            <div
              class="hero-cards-start hero-cards duration-1000 shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-tertiary"
            >
              <div
                class="duration-1000 text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                {t("jobs.java_developer.title")}
              </div>
            </div>
            <div
              class="hero-cards-start hero-cards duration-1000 shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-secondary"
            >
              <div
                class="duration-1000 text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                {t("jobs.web_developer.title")}
              </div>
            </div>
          </div>

          <!-- Bottom -->
          <div class="flex space-x-8 justify-center w-full -z-10 md:-ml-16">
            <div
              class="hero-cards-start hero-cards duration-1000 shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-secondary"
            >
              <div
                class="duration-1000 text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                {t("jobs.backend_engineer.title")}
              </div>
            </div>
            <div
              class="hero-cards-start hero-cards duration-1000 shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-tertiary"
            >
              <div
                class="duration-1000 text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                {t("jobs.designer.title")}
              </div>
            </div>
          </div>

          <!-- Background for cards -->
          <div
            id="fade-bg"
            class="hidden mix-blend-overlay opacity-5 pointer-events-none absolute h-full w-full mx-auto right-0 left-0 top-0 md:block"
          >
            <Img
              src="/images/hero-card-bg.jpg"
              alt="background"
              sizes="(min-width: 480px) 480px, 100vw"
            />
          </div>
        </div>
      </div>

      <!-- Notebook -->
      <div
        id="hero-notebook"
        class="hidden absolute top-8 left-0 h-[95%] w-1/3 font-handlee lg:block xl:w-96"
      >
        <img
          loading="eager"
          class="absolute w-full h-full object-fill"
          src="/images/hero-notebook.png"
          alt=""
        />
        <div
          class="hidden relative -translate-y-4 pr-20 rotate-3 h-full w-full items-center font-bold text-2xl lg:flex lg:pl-[30%]"
        >
          <p class="whitespace-pre-wrap">{t("home.hero.title")}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Services Section -->
  <Section sectionTitle={t("links.services") ?? "Services"} id={"services"}>
    <div class="flex -mt-2 justify-between flex-col flex-wrap md:flex-row">
      {
        services.map(async (service) => {
          const { data, render } = service;
          const { title, imageUrl } = data;
          const { Content } = await render();
          return (
            <div class="py-2 flex-1 min-w-[45vw] md:px-2 lg:min-w-[unset]">
              <figure class="rounded-xl group h-full bg-surfaceVariant overflow-hidden">
                <div class="bg-tertiary h-40 w-full xl:h-48">
                  <Picture src={imageUrl} alt={title} layout="fill" />
                </div>
                <figcaption class="p-4">
                  <header>
                    <h4 class="text-xl font-medium">{title}</h4>
                  </header>
                  <div class="my-2">
                    <Content />
                  </div>
                </figcaption>
              </figure>
            </div>
          );
        })
      }
    </div>
  </Section>

  <!-- Technologies Section -->
  <Section id={"technologies"}>
    <TechnologiesSection />
  </Section>

  <!-- About Us Section -->
  <Section sectionTitle={t("links.about_us") ?? "about us"} id={"about-us"}>
    <AboutUs aboutList={aboutList} client:visible>
      <about1.Content slot="about-1" />
      <about2.Content slot="about-2" />
      <about3.Content slot="about-3" />
    </AboutUs>
  </Section>

  <!-- Careers Section -->
  <Section id={"careers"}>
    <header>
      <h2
        class="capitalize text-primary text-center font-bold text-2xl lg:text-3xl"
      >
        {t("links.careers") ?? "Careers"}
      </h2>
    </header>
    <CareersSection />
  </Section>
</Layout>

<!-- Always use is:global to prevent astro using .where() selector. -->
<style is:global>
  html {
    scroll-behavior: smooth;
  }

  .hero-cards-start {
    transform: translateY(600px) translateX(600px);
  }

  .hero-cards-rotate {
    transition-duration: 300ms;
    transform: rotateZ(-30deg);
  }

  .hero-cards-rotate div {
    transform: rotateZ(30deg);
  }

  .hero-cards-reset {
    transform: rotateZ(-330deg);
  }

  #fade-bg {
    opacity: 8%;
    box-shadow: 0 0 100px 100px white inset;
  }
</style>

<script>
  const cards = document.getElementsByClassName("hero-cards");
  for (let i = 0; i < cards.length; i++) {
    cards[i].classList.remove("hero-cards-start");
  }

  setInterval(() => {
    for (let i = 0; i < cards.length; i++) {
      setTimeout(() => {
        if (cards[i].classList.contains("hero-cards-rotate")) {
          cards[i].classList.toggle("hero-cards-reset");
          setTimeout(() => {
            cards[i].classList.toggle("hero-cards-reset");
          }, 1000);
        }
        cards[i].classList.toggle("hero-cards-rotate");
      }, 200 * i);
    }
  }, 3500);
</script>
