---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/widgets/Section.astro";
import { Img } from "astro-imagetools/components";
import OutSourcing from "../../components/home/OutSourcing.svelte";
import AboutUs from "../../components/home/AboutUs.svelte";
import Markdown from "../../components/widgets/Markdown.astro";
import ImageViewer from "../../components/widgets/ImageViewer.svelte";
import { t, changeLanguage } from "i18next";
import { getCollection, getEntryBySlug } from "astro:content";
import { utilGetCurrentLangauge } from "../../helpers/commonUtils";

changeLanguage("zh");

const { pathname } = Astro.url;
// Get md files based on the current language
const currentLanguage = utilGetCurrentLangauge(pathname);
const jobs = await getCollection(`jobs`, (job) => job.id.startsWith(`${currentLanguage}/`));
const aboutList = await getCollection(`about`, (about) => about.id.startsWith(`${currentLanguage}/`));
// Render Jobs MD Contents
const javaDeveloper = await jobs
    .find((job) => job.slug === "java-developer")!
    .render();
const webDeveloper = await jobs
    .find((job) => job.slug === "web-developer")!
    .render();
const webDesigner = await jobs
    .find((job) => job.slug === "web-designer")!
    .render();
const backendEngineer = await jobs
    .find((job) => job.slug === "backend-engineer")!
    .render();
// Render docs MD Contents
const about1 = await aboutList
    .find((about) => about.slug === "about-1")!
    .render();
const about2 = await aboutList
    .find((about) => about.slug === "about-2")!
    .render();
const about3 = await aboutList
    .find((about) => about.slug === "about-3")!
    .render();
const developmentDoc = await getCollection(`misc`, (data) => data.id.startsWith(`${currentLanguage}/`)).then((list) => list.find((doc) => doc.slug === "software-development")!);
const development = await developmentDoc.render();
---

<Layout title="ChatChatABC">
  <!-- Hero Section -->
  <section class="md:py-4 lg:p-8">
    <div class="container mx-auto relative overflow-hidden">
      <!-- Background image -->
      <div
        class="absolute -z-10 left-0 top-0 w-full h-full overflow-hidden lg:rounded-xl"
      >
        <Img src="/images/hero-bg.png" alt="background" />
      </div>

      <!-- Content -->
      <div class="relative grid grid-cols-4">
        <!-- Left -->
        <div
          class="absolute h-full col-span-1 items-center w-full flex lg:static"
        >
          <div
            class="hidden justify-center h-full flex-col items-center w-full font-bold text-2xl lg:flex lg:pl-[30%] lg:items-start"
          >
            <p class="whitespace-pre-wrap">{t("home.hero.title")}</p>
          </div>
        </div>

        <!-- Right (Cards) -->
        <div
          class="capitalize relative col-span-4 flex flex-col gap-8 justify-center items-center py-12 px-8 font-medium lg:col-span-3"
        >
          <!-- Top -->
          <div class="flex space-x-8 justify-center w-full -z-10">
            <div
              class="hero-cards-start hero-cards duration-1000 shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-gray-400"
            >
              <div
                class="duration-1000 text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                {t("jobs.java_developer.title")}
              </div>
            </div>
            <div
              class="hero-cards-start hero-cards duration-1000 shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-[#EADDFF]"
            >
              <div
                class="duration-1000 text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                {t("jobs.web_developer.title")}
              </div>
            </div>
          </div>

          <!-- Bottom -->
          <div class="flex space-x-8 justify-center w-full -z-10 md:-ml-16">
            <div
              class="hero-cards-start hero-cards duration-1000 shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-[#EADDFF]"
            >
              <div
                class="duration-1000 text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                {t("jobs.backend_engineer.title")}
              </div>
            </div>
            <div
              class="hero-cards-start hero-cards duration-1000 shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-gray-400"
            >
              <div
                class="duration-1000 text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                {t("jobs.designer.title")}
              </div>
            </div>
          </div>

          <!-- Background for the right side of the hero section -->
          <div
            id="fade-bg"
            class="hidden mix-blend-overlay opacity-5 pointer-events-none absolute h-full mx-auto right-0 left-0 top-0 md:block lg:w-2/3"
          >
            <Img
              src="/images/hero-card-bg.jpg"
              alt="background"
              sizes="(min-width: 480px) 480px, 100vw"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Outsourcing Section -->
  <Section sectionTitle={t("links.outsourcing") ?? "outsourcing"}>
    <OutSourcing jobs={jobs} client:load>
      <Markdown slot="java-developer">
        <javaDeveloper.Content />
      </Markdown>
      <Markdown slot="web-developer">
        <webDeveloper.Content />
      </Markdown>
      <Markdown slot="web-designer">
        <webDesigner.Content />
      </Markdown>
      <Markdown slot="backend-engineer">
        <backendEngineer.Content />
      </Markdown>
    </OutSourcing>
  </Section>

  <!-- Software Development Section -->
  <Section
    sectionTitle={t("links.software_development") ?? "software development"}
  >
    <div class="grid lg:grid-cols-2">
      <div class="hidden items-center w-full lg:flex">
        <div
          class="min-h-[60%] mx-8 w-full rounded-t-3xl bg-[#9A82DB] shadow-xl"
        >
          <Markdown>
            <development.Content />
          </Markdown>
        </div>
      </div>
      <ImageViewer imgUrl="/images/tech-stack.png" className="" client:visible>
        <Img
          src="/images/tech-stack.png"
          alt="tech stack"
          sizes="(min-width: 768px) 1024px, 100vw"
        />
      </ImageViewer>
    </div>
  </Section>

  <!-- About Us Section -->
  <Section sectionTitle={t("links.about_us") ?? "about us"}>
    <AboutUs aboutList={aboutList} client:visible>
      <about1.Content slot="about-1" />
      <about2.Content slot="about-2" />
      <about3.Content slot="about-3" />
    </AboutUs>
  </Section>
</Layout>

<!-- Always use is:global to prevent astro using .where() selector. -->
<style is:global>
  html {
    scroll-behavior: smooth;
  }

  .hero-cards-start {
    transform: translateY(600px) translateX(600px);
  }

  .hero-cards-rotate {
    transition-duration: 300ms;
    transform: rotateZ(-30deg);
  }

  .hero-cards-rotate div {
    transform: rotateZ(30deg);
  }

  .hero-cards-reset {
    transform: rotateZ(-330deg);
  }

  #fade-bg {
    opacity: 8%;
    box-shadow: 0 0 100px 100px white inset;
  }

  /* .hero-position {
    transform: rotateX(60deg) rotateZ(325deg);
  }

  .hero-cards-end {
    transform: translateY(-600px) translateX(-600px);
  }

  @media (min-width: 1024px) {
    .hero-position:hover {
      transform: rotateX(0deg) rotateZ(30deg);
      scale: 80%;
      z-index: 1;
    }
  } */
</style>

<script>
  const cards = document.getElementsByClassName("hero-cards");
  for (let i = 0; i < cards.length; i++) {
    cards[i].classList.remove("hero-cards-start");
  }

  setInterval(() => {
    for (let i = 0; i < cards.length; i++) {
      setTimeout(() => {
        if (cards[i].classList.contains("hero-cards-rotate")) {
          cards[i].classList.toggle("hero-cards-reset");
          setTimeout(() => {
            cards[i].classList.toggle("hero-cards-reset");
          }, 1000);
        }
        cards[i].classList.toggle("hero-cards-rotate");
      }, 200 * i);
    }

    // setTimeout(() => {
    //   for (let i = 0; i < cards.length; i++) {
    //     cards[i].classList.add("hero-cards-end");
    //     setTimeout(() => {
    //       cards[i].classList.remove("duration-1000");
    //       cards[i].classList.remove("hero-cards-end");
    //       cards[i].classList.add("hero-cards-start");
    //     }, 300);
    //     setTimeout(() => {
    //       cards[i].classList.add("duration-1000");
    //       cards[i].classList.remove("hero-cards-start");
    //     }, 600);
    //   }
    // }, 2000);

    // const rand = Math.floor(Math.random() * (cards.length - 1 + 1)) + 0;
  }, 3500);
</script>
