---
import { t, changeLanguage } from "i18next";
import Section from "../../components/widgets/Section.astro";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon";
import { Img } from "astro-imagetools/components";

changeLanguage("zh");

const blogs = await Astro.glob("../blogs/*.mdx");
---

<Layout title={t("navbar.blogs")}>
  <Section sectionTitle={t("navbar.blogs") ?? "blogs"}>
    {
      blogs.length ? (
        <ul class="grid md:grid-cols-2 px-8 gap-4 space-y-2 md:space-y-0">
          {blogs.map((blog) => {
            const {
              title,
              date,
              summary,
              author_name,
              author_link,
              author_image,
              summary_image,
            } = blog.frontmatter;
            return (
              <li class="border rounded-sm overflow-hidden">
                <div class="h-full grid lg:grid-cols-5">
                  <div class="h-64 lg:h-full lg:col-span-2">
                    <Img
                      src={summary_image ?? "/images/no-image.png"}
                      alt={title ?? "No title"}
                    />
                  </div>
                  <div class="p-4 flex flex-col lg:col-span-3">
                    <p class="text-xl leading-6 font-bold hover:text-neutral-600">
                      <a href={blog.url}>{title}</a>
                    </p>
                    <p class="text-neutral-500 text-sm py-2 overflow-hidden flex-1 min-h-[150px]">
                      {summary}
                    </p>
                    <div class="mt-auto flex items-center space-x-2">
                      <div class="w-12 rounded-full h-12 border overflow-hidden">
                        {author_link ? (
                          <a
                            class="hover:opacity-75"
                            href={author_link}
                            target="_blank"
                          >
                            {author_image ? (
                              <Img
                                src={author_image}
                                alt={author_name ?? "Anonymous"}
                              />
                            ) : (
                              <Icon class="w-full h-full" name="mdi:user" />
                            )}
                          </a>
                        ) : author_image ? (
                          <Img
                            src={author_image}
                            alt={author_name ?? "Anonymous"}
                          />
                        ) : (
                          <Icon class="w-full h-full" name="mdi:user" />
                        )}
                      </div>
                      <div class="text-xs">
                        <p class="font-medium">
                          {author_link ? (
                            <a
                              class="hover:opacity-75"
                              href={author_link}
                              target="_blank"
                            >
                              {author_name ?? "Anonymous"}
                            </a>
                          ) : (
                            author_name ?? "Anonymous"
                          )}
                        </p>
                        <p class="text-neutral-500">
                          <span class="text-neutral-600 font-medium">
                            Date:
                          </span>{" "}
                          {date ?? "No Date"}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            );
          })}
        </ul>
      ) : (
        <div>No blogs yet!</div>
      )
    }
  </Section>
</Layout>
