---
import { t, changeLanguage } from "i18next";
import Markdown from "../../../components/widgets/Markdown.astro";
import Layout from "../../../layouts/Layout.astro";
import { Icon } from "astro-icon";
import { Img } from "astro-imagetools/components";
import { getCollection } from "astro:content";

changeLanguage("zh");

export async function getStaticPaths() {
    const blogs = await getCollection("blogs");
    return blogs.map((blog) => ({
        params: {
            blog: blog.slug,
        },
        props: {
            blog,
        },
    }));
}
const { blog } = Astro.props;
const { data, render } = blog;
const { title, author_image, date, author_name, author_link, tags, summary_image, } = data;
const { Content } = await render();
---

<Layout title={title}>
  <div class="mx-auto pb-16 px-4 md:px-32 lg:px-2 lg:max-w-3xl">
    <!-- Author Information for Tablet and Laptop -->
    <section class="hidden pt-8 pb-4 gap-4 md:gap-8 md:flex">
      <!-- Author's image -->
      <div class="h-16 w-16 rounded-full border overflow-hidden">
        {
          author_link ? (
            <a class="hover:opacity-75" href={author_link} target="_blank">
              {author_image ? (
                // Display author image if available
                <Img src={author_image} alt={author_name ?? "Anonymous"} />
              ) : (
                // Display placeholder image if author image not available
                <Icon class="w-full h-full" name="mdi:user" />
              )}
            </a>
          ) : author_image ? (
            // Display author image if available
            <Img src={author_image} alt={author_name ?? "Anonymous"} />
          ) : (
            // Display placeholder image if author image not available
            <Icon class="w-full h-full" name="mdi:user" />
          )
        }
      </div>

      <!-- Author's Name -->
      <div class="flex flex-col justify-center">
        <p class="leading-3">Author</p>
        <p class="text-sm font-medium text-neutral-700 uppercase">
          {
            author_link ? (
              <a class="hover:opacity-75" href={author_link} target="_blank">
                {author_name ?? "Anonymous"}
              </a>
            ) : (
              author_name ?? "Anonymous"
            )
          }
        </p>
        <!-- <p class="text-neutral-500">test test test</p> -->
      </div>
    </section>

    <!-- Blog Info -->
    <section class="flex flex-col pt-4 px-3 space-y-4">
      <!-- Blog Title -->
      <div>
        <h1 class="text-xl font-medium md:text-3xl lg:text-4xl xl:text-5xl">
          {title ?? "No Title"}
        </h1>
        <p class="text-xs text-neutral-500 md:text-sm lg:py-4">
          <span class="font-bold">Date:</span>
          {date ?? "No Date"}
          <span class="ml-4 font-bold">Tags:</span>
          {tags ?? "No tags"}
        </p>
      </div>

      <!-- Blog Image -->
      {
        summary_image ? (
          <div class="max-h-[500px] border overflow-hidden flex items-center">
            <Img alt={title} src={summary_image ?? "/images/no-image.png"} />
          </div>
        ) : null
      }
    </section>

    <!-- Markdown Content -->
    <Markdown>
      <Content />
    </Markdown>

    <!-- Author Info for mobile -->
    <section class="pt-8 flex flex-col items-center pb-4 space-y-4 md:hidden">
      <!-- Author's Image mobile -->
      <div class="h-16 w-16 rounded-full border overflow-hidden">
        {
          author_link ? (
            <a class="hover:opacity-75" href={author_link} target="_blank">
              {author_image ? (
                // Display author image if available
                <Img src={author_image} alt={author_name ?? "Anonymous"} />
              ) : (
                // Display placeholder image if author image not available
                <Icon class="w-full h-full" name="mdi:user" />
              )}
            </a>
          ) : author_image ? (
            // Display author image if available
            <Img src={author_image} alt={author_name ?? "Anonymous"} />
          ) : (
            // Display placeholder image if author image not available
            <Icon class="w-full h-full" name="mdi:user" />
          )
        }
      </div>

      <!-- Author's Name Mobile -->
      <div class="flex flex-col justify-center text-center">
        <p class="leading-3">Author</p>
        <p class="text-sm font-medium text-neutral-700 uppercase">
          {
            author_link ? (
              <a class="hover:opacity-75" href={author_link} target="_blank">
                {author_name ?? "Anonymous"}
              </a>
            ) : (
              author_name ?? "Anonymous"
            )
          }
        </p>
        <!-- <p class="text-neutral-500">test test test</p> -->
      </div>
    </section>
  </div>
</Layout>
