---
import Markdown from "@components/widgets/Markdown.astro";
import { Icon } from "astro-icon";
import { utilGetCurrentLangauge } from "@helpers/commonUtils";
import { Picture } from "astro-imagetools/components";
import { getCollection, getEntryBySlug } from "astro:content";

// Get md files based on the current language
const { pathname } = Astro.url;
const currentLanguage = utilGetCurrentLangauge(pathname);
const careers = await getCollection(`careers`, (career) =>
  career.id.startsWith(`${currentLanguage}/`)
);
const careerIntroFile = await getEntryBySlug(
  "misc",
  `${currentLanguage}/careers-intro`
);
const careerIntroTitle = careerIntroFile?.data.title;
const { Content } = await careerIntroFile?.render()!;
---

<careers-section
  class="container mx-auto bg-tertiary overflow-hidden rounded-xl border-2 mt-4 border-tertiary flex flex-col lg:flex-row"
>
  <!-- Left Section -->
  <section class="bg-tertiary flex-1 p-2 py-8 lg:p-8">
    <figure class="text-center">
      <div class="w-40 h-40 rounded-full overflow-hidden mx-auto">
        <Picture src="/images/jobs/careers.jpg" alt="careers" />
      </div>
      <figcaption class="lg:mt-8">
        <header>
          <h3 class="text-white text-lg font-medium md:text-2xl">
            {careerIntroTitle}
          </h3>
        </header>
        <Markdown className={"text-neutral-200 text-sm md:text-base"}>
          <Content />
        </Markdown>
      </figcaption>
    </figure>
  </section>

  <!-- Right Section -->
  <section id="careers-container" class="flex-[2] flex flex-wrap group p-1">
    {
      careers.map(async (career) => {
        const { data, render } = career;
        const { title, imageUrl } = data;
        const { Content } = await render();
        return (
          <div class="careers cursor-pointer relative py-2 border-2 rounded-lg bg-surfaceVariant border-tertiary shrink-0 w-1/2 transition-transform duration-500 overflow-hidden lg:hover:scale-95 lg:group-hover:rounded-lg">
            <figure>
              <div class="text-center">
                <span class="inline-block font-medium text-xl mb-2">
                  {title}
                </span>
                <div class="mx-auto h-24 w-24 md:h-32 md:w-32 lg:h-48 lg:w-48">
                  <Picture src={imageUrl} alt={title} layout="constrained" />
                </div>
              </div>
              <figcaption class="h-0 text-left origin-top scale-y-0 careers-figcaption mt-8 md:px-8">
                <Markdown className={"li-check"}>
                  <Content />
                </Markdown>
              </figcaption>
            </figure>
            <button class="close-btn hidden absolute top-4 left-4 p-1 rounded-full border border-tertiary z-[4] duration-500 origin-center hover:scale-90">
              <Icon class="w-6 h-6 text-tertiary" name="ic:round-close" />
            </button>
          </div>
        );
      })
    }
  </section>
</careers-section>

<script>
  class CareersSection extends HTMLElement {
    constructor() {
      super();

      let opened: null | number = null;

      const careers = this.querySelectorAll(".careers");
      const closeBtns = this.querySelectorAll(".close-btn");
      const careersFigcaptions = this.querySelectorAll(".careers-figcaption");

      closeBtns.forEach((button) => {
        button.addEventListener("click", (e) => {
          closeSelectedCard();
          e.stopPropagation();
        });
      });

      careers.forEach((button, index) => {
        button.addEventListener("click", () => {
          if (!opened) {
            openSelectedCard(index);
          }
        });
      });

      function openSelectedCard(index: number) {
        // Make all figcaptions invisible
        careersFigcaptions.forEach((figcaption) => {
          figcaption.classList.add("h-0");
        });

        // Show the selected figcaption
        careersFigcaptions[index].classList.add("duration-500");
        careersFigcaptions[index].classList.remove("h-0");
        careersFigcaptions[index].classList.remove("scale-y-0");

        // Hide all buttons except the selected one
        careers.forEach((button, index1) => {
          if (index !== index1) {
            button.classList.add("hidden");
          } else {
            button.classList.add("w-full");
            button.classList.remove("cursor-pointer");
            button.classList.remove("w-1/2");
            button.classList.remove("lg:hover:scale-95");
            button.classList.remove("lg:group-hover:rounded-lg");
          }
        });

        closeBtns[index].classList.remove("hidden");

        // Set opened to true
        opened = index + 1;
      }

      function closeSelectedCard() {
        // Make all buttons visible
        careers.forEach((button) => {
          button.classList.remove("hidden");
          button.classList.remove("w-full");
          button.classList.add("cursor-pointer");
          button.classList.add("w-1/2");
          button.classList.add("lg:hover:scale-95");
          button.classList.add("lg:group-hover:rounded-lg");
        });

        // Make all figcaptions invisible
        careersFigcaptions.forEach((figcaption) => {
          figcaption.classList.remove("duration-500");
          figcaption.classList.add("h-0");
          figcaption.classList.add("scale-y-0");
        });

        // Make all close buttons hidden
        closeBtns.forEach((closeBtn) => {
          closeBtn.classList.add("hidden");
        });

        opened = null;
      }
    }
  }

  customElements.define("careers-section", CareersSection);
</script>
