---
import { Icon } from "astro-icon";
import { Picture } from "astro-imagetools/components";
import { t } from "i18next";
import { utilRemoveSpaces, utilUrlWithLocale } from "@helpers/commonUtils";
import contact from "@data/contact.json";
import linksJson from "@data/links.json";

const { pathname } = Astro.url;
---

<footer>
  <div
    class="border-y-2 border-tertiary w-full py-4 text-sm md:text-base lg:py-16"
  >
    <div class="container mx-auto lg:grid lg:grid-cols-3">
      <div
        class="flex flex-col space-y-4 w-full gap-4 items-center py-4 md:space-y-0 lg:gap-8"
      >
        <div class="w-52 object-contain">
          <Picture src="/images/ChatChat.png" alt="logo" />
        </div>
        <div>
          <ul class="flex space-x-4">
            <li class="w-8 h-8 rounded-full lg:w-12 lg:h-12">
              <a href="https://www.facebook.com/ChatChatABC/" target="_blank"
                ><Picture src="/images/facebook.png" alt="facebook logo" /></a
              >
            </li>
            <li class="w-8 h-8 rounded-full lg:w-12 lg:h-12">
              <Picture src="/images/instagram.png" alt="instagram logo" />
            </li>
            <li>
              <Icon class="w-8 h-8 lg:h-12 lg:w-12" name="mdi:telephone" />
            </li>
          </ul>
        </div>
      </div>
      <div
        class="px-4 col-span-2 grid gap-y-2 space-y-2 md:space-y-0 md:grid-cols-3"
      >
        <ul
          class="flex flex-col capitalize text-tertiary [&>*>a:hover]:text-primary"
        >
          <li class="mb-2">
            <span class="font-bold text-primary">{t("misc.links")}</span>
          </li>
          <li>
            <a
              href={utilUrlWithLocale(
                pathname,
                utilRemoveSpaces(`#${t("links.outsourcing")}`)
              )}
            >
              {t("links.outsourcing")}
            </a>
          </li>
          <li>
            <a
              href={utilUrlWithLocale(
                pathname,
                utilRemoveSpaces(`#${t("links.software_development")}`)
              )}
            >
              {t("links.software_development")}
            </a>
          </li>
          <li>
            <a
              href={utilUrlWithLocale(
                pathname,
                utilRemoveSpaces(`#${t("links.about_us")}`)
              )}
            >
              {t("links.about_us")}
            </a>
          </li>
        </ul>
        <ul class="flex flex-col">
          <li class="mb-2">
            <span class="font-bold text-primary">{t("misc.visit")}</span>
          </li>
          {
            linksJson.data.map((link) => {
              return (
                <li>
                  <a
                    target="_blank"
                    class="text-tertiary hover:text-primary"
                    href={link.url}
                  >
                    {t(`links.${link.locale_name}`)}
                  </a>
                </li>
              );
            })
          }
        </ul>
        <ul
          class="flex flex-col capitalize text-tertiary [&>*>*>a:hover]:text-primary"
        >
          <li class="mb-2">
            <span class="font-bold text-primary">{t("links.contact_us")}</span>
          </li>
          <li>
            <span>
              {t("misc.telephone")}: <a href={`tel: ${contact.telephone}`}>
                {contact.telephone}
              </a>
            </span>
          </li>
          <li>
            <span>
              {t("misc.email")}:
              <a class="normal-case" href={`mailto: ${contact.email}`}>
                {contact.email}
              </a>
            </span>
          </li>
          <li>
            <span>
              {t("misc.address")}:
              <a
                href={`https://www.google.com/maps/dir/?api=1&destination=${encodeURI(
                  `${contact["google-map-location"] ?? contact.address}`
                )}`}
                target="_blank"
              >
                {contact.address}
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center py-1 text-xs text-primary md:text-base">
    Copyright by ChatChatABC (2023)
  </p>
</footer>
