---
import Footer from "../components/Footer.astro";
import Navbar from "../components/navbar/Navbar.astro";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import siteInfo from "../../data/site-info.json";

export interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  author?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  keywords = siteInfo.keywords,
  author = siteInfo.author,
} = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- astro-i18next -->
    <HeadHrefLangs />

    <!-- Cedarville Cursive -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap"
      rel="stylesheet"
    />

    <!-- Website Icon -->
    {
      siteInfo.icons.map((icon) => {
        const { rel, href, type, sizes } = icon;
        return <link rel={rel} type={type} sizes={sizes} href={href} />;
      })
    }

    <!-- Additional Info -->
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content={author} />
    <meta name="generator" content={Astro.generator} />

    <title>{title ?? siteInfo.title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Navbar />
    <main class="overflow-x-hidden flex-1">
      <slot />
    </main>
    <Footer />
    <style is:global>
      /* Ellipsis */
      .ellipsis {
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      /* Scrollbar */
      .scrollbar::-webkit-scrollbar {
        /* width */
        width: 10px;
      }
      .scrollbar::-webkit-scrollbar-track {
        /* Track */
        box-shadow: inset 0 0 5px #e8def8;
        border-radius: 10px;
      }
      .scrollbar::-webkit-scrollbar-thumb {
        /* Handle */
        background: #6750a4;
        border-radius: 10px;
      }
      .scrollbar::-webkit-scrollbar-thumb:hover {
        /* Handle on hover */
        background: #503e80;
      }
    </style>
  </body>
</html>
