---
import Footer from "../components/Footer.astro";
import Navbar from "../components/navbar/Navbar.astro";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import siteInfo from "../../data/site-info.json";

export interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  author?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  keywords = siteInfo.keywords,
  author = siteInfo.author,
} = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- astro-i18next -->
    <HeadHrefLangs />

    <!-- Patrick Hand -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
      rel="stylesheet"
    />

    <!-- Website Icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/logo/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/logo/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/logo/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Additional Info -->
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content={author} />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="/images/logo/apple-touch-icon.png" />

    <title>{title ?? siteInfo.title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-background">
    <Navbar />
    <main class="overflow-x-hidden flex-1">
      <slot />
    </main>
    <Footer />
    <style is:global>
      /* Ellipsis */
      .ellipsis {
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      /* Scrollbar */
      .scrollbar::-webkit-scrollbar {
        /* width */
        width: 10px;
      }
      .scrollbar::-webkit-scrollbar-track {
        /* Track */
        box-shadow: inset 0 0 5px #e8def8;
        border-radius: 10px;
      }
      .scrollbar::-webkit-scrollbar-thumb {
        /* Handle */
        background: #76a99d;
        border-radius: 10px;
      }
      .scrollbar::-webkit-scrollbar-thumb:hover {
        /* Handle on hover */
        background: #76a99d;
      }
    </style>
  </body>
</html>
